<form #form="ngForm" action="" method="post" (ngSubmit)="login(form)">
    <fieldset>
      <div>
        <label for="username">Username:</label>
        <input #usernameInput="ngModel" ngModel class="input-text" type="text" id="user" name="username" required /><br />
       
        <label for="password">Password:</label>
        <input #passwordInput="ngModel" ngModel class="input-text" type="password" id="pass" name="password" required /><br />
       
        <input class="button" type="submit" value="Login" />
      </div>
    </fieldset>
  </form>